$black: #222222;
$brand-color1: #f1672a;
$brand-color2: #4d4d4d;
$link-color: #f1672a;
$link-hover-color: $black;
$link-hover-decoration: #4d4d4d;



// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: $brand-color1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'PT Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.5;
$text-color: $brand-color2;

// Page
$font-size-page: 15px;

// Navbar
$navbar-default-bg: $body-bg;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


// Pagination
$pagination-color: $brand-color2;
$pagination-bg: $body-bg;
//$pagination-border: #f1672a;

$pagination-hover-color: $link-color;
$pagination-hover-bg: $body-bg;
//$pagination-hover-border: #f1672a;